{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block menuTitle %}User List{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid px-4">
        <div class="row my-5">
            <h3 class="fs-4 mb-3">Recent Repair</h3>
            <div class="col">
                <table class="table bg-white rounded shadow-sm  table-hover">
                    <thead>
                    <tr>
                        <th scope="col" width="50">ID</th>
                        <th scope="col">User Email</th>
                        <th scope="col">User Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles | json_encode }}</td>
                            <td><a href="#" class="btn btn-primary"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a></td>
                            <td><a href="#" class="btn btn-danger"><span><i class="fa fa-trash" aria-hidden="true"></i></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}

